

body{
    font-family: "Poppins", sans-serif;
}

.mydiv{

}

.mynav{

}


.mycontainer{

}

.navbar-brand{
font-weight: 600;
font-size: 50px;
}


.mylink{
    color: #0d1820;
margin-right: 15px;
margin-left: 15px;
 margin-left: 20px;
}

.mybutton{
margin: 10px;
color: black;
text-decoration: none;
}

.mybtn{
    border-radius: 50px;
    color: #ffffff;
position: relative;
background-color: #10C31A;
z-index: 1;
padding: 10px 30px 10px 30px;
text-decoration: none;
}

.myschrift{
    display: block;
    font-weight: 500;
    font-size: 25px;
    color: #0d1820;
    margin-bottom: 20px;
    margin-left: 8px;
}

.mytitle{
    font-weight: 700;
    font-size: 92px;
    margin-bottom: 20px;
    color: black;

}

.mypara{
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 19px;
    max-width: 695px;
    color: #777777;
  }

.mybanner{
background-color: #15D09A;
z-index: 1;
padding: 15px 40px 15px 40px;
border-radius: 4px;
font-size: 16px;
display: inline-block;
color: var(--bs-link-color);
text-decoration: none;
margin-right: 25px;
border-radius: 50px;
overflow: hidden;
top: 10px;
}

.myimg{

}

.myfoto{
margin-left: 40px;
}

.myschreiben{
    font-weight: 600;
font-size: 18px;
margin-bottom: 7px;
padding-bottom: 7px;
margin-right: 20px;
color: #15D09A;
}

.mykuli{
    font-size: 40px;
    font-weight: 700;
}

.button1{
    font-weight: 500;
    font-size: 15px;
    color: white;
    background-color: #15D09A ;
    border-radius: 30px;
    display: inline-block;
    padding: 10px 22px 10px 20px;
    text-decoration: none;
}


.button2{
    font-weight: 500;
    font-size: 15px;
    color: #626262;
    background-color: #dfdfdf;
    border-radius: 30px;
    display: inline-block;
    padding: 10px 22px 10px 20px;
    text-decoration: none;
    margin-left: 20px;
}

.myparagraf{
    margin-bottom: 12px;
    line-height: 1.8;
    font-size:19px;
    color: #626262;

}

.mylist{
    
display: block;
font-size: 16px;
color: #777777;
margin-bottom: 10px;
}

.mylist2{
    font-size: 20px;
font-weight: 400;
font-style: normal;
font-variant: normal;
line-height: 1;
text-rendering: auto;
color: #444444;
}

.btnt{
    font-family: boxicons !important;
font-weight: 400;
line-height: 1;
position: relative;
background-color:#15D09A  ;
z-index: 1;
padding: 15px 35px 15px 35px;

font-size: 16px;
display: inline-block;
text-decoration: none;
margin-left: 20px;
border-radius: 30px;
color: #ffffff;

}



